*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* font family and className  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
}

/* CSS variables Here  */
:root {
  --primary-color: #E95A08;
  --secondary-color: #8987A1;
  --bg-color: #fff;
}
/* Common CSS Style here  */
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.btn {
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  padding: 10px;
  margin-bottom: 20px;
}
.btn:hover{
    background-color:#f87c34;
    color: green;
    font-weight: bold;
}
section{
  margin-top: 120px;
}
/* Header part starts from here  */

header .logo img{
    max-width: 71px;
}
ul li{
  list-style: none;
  padding: 0px 22px;
}
ul li a{
  text-decoration: none;
  font-size: 1rem;
}
ul li:first-child{
  font-weight: bold;
}
li:not(:nth-child(1)){
  color: var(--secondary-color);
}
nav .cart a{
  cursor: pointer;
  text-decoration: none;
  padding-left: 1.5rem;
}
/* Banner Section Starts from here*/

.banner .banner-content{
  width: 50%;
}
.banner .banner-content h2{
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: bold;
}
.banner .banner-content h2 span{
  color: var(--primary-color);
}
/* Plant section starts from here  */
main .plant h2 {
    font-size: 3.1rem;
    padding-right: 200px;
}
.plant h2 span{
  color: var(--primary-color);
  font-weight: bold;
}
.plant p{
  font-size: 1.4rem;
}
.plant h2, .plant p{
  max-width: 888px;
  margin: 0 auto;
  text-align: center;
}
.plant-grid{
  margin-top: 50px;
}
.plant-content{
  margin:10px 0px;
}
.plant-card .plant-content h3{
  font-size: 1.4rem;
  font-weight: bold;
}
.plant-card .plant-content p{
  font-size: 1.4rem;
}
/* Flower and Plant section starts from here  */
.flower-plant-img{
  max-height: 540px;
}

.flower-plant-content{
  max-height: 540px;
}
.flower-plant .flower-plant-content h2{
  padding-left: 70px;
  font-size: 3.2rem;
}
.flower-plant-content ul li{
  list-style-type: disc;
  margin: 12px 40px;
  font-size: 1.4rem;
}
/* Align Trusted Badge in a right positon  */

.flower-plant{
  position: relative;
}
.flower-plant::after {
    content: '';
    position: absolute;
    top: -22%;
    left: 32%;
    width: 286px;
    height: 286px;
    background-image: url('./assets/trusted-badge.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
    animation: rotation 10s linear infinite;
}
@keyframes rotation {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* Latest Deal starts from here  */
.latest-gallery{
  margin: 40px auto !important;
}
.latest-grid{
  margin-top: 30px;
}
.latest-deal h2{
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center !important;
}
h2 span{
  color: var(--primary-color);
}
.latest-deal p{
  max-width: 888px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.4rem;
}
.latest-gallery-left{
  max-width: 30%;
  max-height: auto;
  margin: 0 auto;
}
.latest-gallery-right{
  max-width: 70%;
  max-height: auto;
  margin-left: 30px;
}
.deal-text{
  color: white;
  padding-right: 5px;
  border-right: 2px solid white;
}
.deal-otext{
  color: white;
  padding-left: 10px;
}
.deal-btn{
  text-decoration: underline;
  font-size:1rem;

}
.deal{
  background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('./assets/deal-bloom.png');
  border-radius: 10px;
  width: 366px;
  height: 206px;
}
.deal-left-img h2{
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 30px;
}
.deal-right-img{
  margin: 30px auto;

}
.ana{
  background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('./assets/deal-ana.png');
  border-radius: 10px;
  width: 366px;
  height: 206px;
}
.zabo{
  background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('./assets/deal-zabo.png');
  border-radius: 10px;
  width: 763px;
  height: 423px;
}
.deal, .ana, .zabo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  overflow: hidden;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}
.deal-right-img h2 .deal-text{
  padding-right: 20px;
}
.deal-right-img h2 .deal-otext{
  padding-left: 20px;
}
/* ColorFul section starts from here  */
.colorful{
  margin: 20px 0px;
  width: 100%;
  height: 530px;
  background-image: url('./assets/news-letter-bg.png');
}
.colorful h2{
  font-size: 3.1rem;
}
.colorful form{
  width: 830px;
  margin: 0 auto;
}
.colorful form input{
  padding: 10px 20px;
  background-color: white;
  color: black;
}
.colorful form button{
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}
/* footer part starts from here  */
footer{
  width: 100%;
  height: 348px;
}
.footer-container{
  margin-top: 50px;
  height: 248px;
}
.footer-card{
  width: 25%;
  padding: 20px;
}
.footer-logo{
  margin-bottom: 30px !important;
}
.footer-card .footer-logo img{
    width: 135px;
    height: 82px;
}
.footer-card ul li{
  color: var(--secondary-color);
  font-weight: normal;
  padding: 10px 0px;
}
.footer-card img{
  width: 36px;
  height: 36px;
  margin-left: 20px;
}
/* Responsive Design Starts from here  */

@media (max-width: 576px) {
  nav ul li{
    display: none;
  }
  header{
    margin:20px 30px 0px 10px !important;
  }
  .banner{
    flex-direction: column-reverse;
  }
  .banner .banner-content{
    width: 361px;
    margin: 20px auto;
  }
  .banner .banner-content h2{
    text-align: start;
    width: 361px;
    margin: 20px auto;
    font-size:24px;
  }
  main .plant h2{
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .plant p{
    font-size: 14px;
  }
  main .plant p{
    font-size: 14px;
  }
  .plant-grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .flower-plant::after{
    display: none;
  }
  .flower-plant{
    flex-direction: column;
  }
  .flower-plant .flower-plant-img{
    max-width: 100%;
  }
  .flower-plant-content{
    max-width: 100%;
  }

}
